/*--------------------
----------------------
LOGIN
----------------------
--------------------*/
.bigBack {
    padding-left: 0px;
}
.loginBack {
  z-index: -20;
  height: 840px;
  width: 100%;
  position: fixed;
}
 .mainRow {
  background: #000000c9;
  color: white;
  width: 335px;
  height: 1000px;
  margin-left: 55px;
  position: relative;
  overflow: scroll;
}
.colRow {
  /* border-right: 1px solid #ffffff4d; */
  text-align: center;
}
.colRow1 {
  text-align: center;
  padding-top: 31px;
}
 #leftCol {
  padding-top: 25px;
}

#welcome {
  font-size: 32px;
  margin-top: 45px;
}
#tinyBod {
  font-size: 20px;
}
.logHeader {
  font-size: 28px;
  margin: 10px;
}
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}
.logBody {
    margin-top: 40px;
}
.form-control {
  background: #ffffff87;
}
.newReg:hover {
    color: #48a265;
}
.help1:hover {
    color: #48a265;
}
.newReg {
  float: left;
  font-size: 16px;
  margin-left: -77px;
  margin-top: 40px;
  color: #48a265;
}
.help1{
  float: right;
  margin-top: -38px;
  font-size: 16px;
  color: #48a265;
}
.topIcons {
    padding-left: 75px;
    margin-top: 20px;
}
.tweet, .finsta {
    margin-left: 20px;
}
.face:hover {
    color: white;
}
.tweet:hover {
    color: white;
}
.finsta:hover {
    color: white;
}
.face, .tweet, .finsta {
    color: white;
}
.firstMail:focus {
    background: transparent;
    border-bottom: 1px solid white;
}
.firstPass:focus {
    background: transparent;
    border-bottom: 1px solid white;
}
.firstMail, .firstPass {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
}
/*--------------------
----------------------
REGISTER
----------------------
--------------------*/


/*--------------------
----------------------
NAVBAR
----------------------
--------------------*/
.navChange:hover {
  color: black;
  border-bottom: 1px solid black;
}
.navChange {
  color: black;
}

/*--------------------
----------------------
HOME
----------------------
--------------------*/
.jumbRow {
    top: 0px;
}
.youMightLike {
    padding-top: 20px;
    margin-left: 20px;
}
.owlBtn {
    height: 180px;
    width: 40px;
}
.owlPics {
    padding-top: 16px;
}
.firstOwl {
    margin-left: -30px;
    margin-right: 20px;
}
#filtersubmit {
    position: relative;
    z-index: 1;
    left: 15px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}
#filter {
  text-align: center;
}
.searchBar{
    float: left;
    margin-top: -200px;
}


/*--------------------
----------------------
PROFILE
----------------------
--------------------*/
#proName {
    height: 40px;
    width: 200px;
    border: 1px solid black;
}
#proMail {
    height: 40px;
    width: 250px;
    border: 1px solid black;
}
/*--------------------
----------------------
CONTACT
----------------------
--------------------*/


/*--------------------
----------------------
FOOTER
----------------------
--------------------*/
#foot {
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
}
.bottomTags:hover {
    color: white;
}
.bottomTags {
    color: white;
    font-size: 20px;
}
.bottomIcons:hover {
    color: white;
}
.bottomIcons {
    color: white;
}
.socialMedia {
    margin-left: 675px;
    padding-top: 20px;
}
.bottomNav {
    margin-left: 595px;
    margin-top: 5px;
}
.footHome, .footPro, .footAbout {
    border-right: 1px solid white;
    padding: 5px;
}
.footLog {
    margin-left: 690px;
    margin-top: 15px;
}
