/*--------------------
----------------------
LOGIN
----------------------
--------------------*/
.bigBack {
    padding-left: 0px;
}
.loginBack {
  z-index: -20;
  height: 840px;
  width: 100%;
  position: fixed;
}
 .mainRow {
  background: #000000c9;
  color: white;
  width: 335px;
  height: 1000px;
  margin-left: 55px;
  position: relative;
  overflow: scroll;
}
.colRow {
  /* border-right: 1px solid #ffffff4d; */
  text-align: center;
}
.colRow1 {
  text-align: center;
  padding-top: 31px;
}
 #leftCol {
  padding-top: 25px;
}

#welcome {
  font-size: 32px;
  margin-top: 45px;
}
#tinyBod {
  font-size: 20px;
}
.logHeader {
  font-size: 28px;
  margin: 10px;
}
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}
.logBody {
    margin-top: 40px;
}
.form-control {
  background: #ffffff87;
}
.newReg:hover {
    color: #48a265;
}
.help1:hover {
    color: #48a265;
}
.newReg {
  float: left;
  font-size: 16px;
  margin-left: -77px;
  margin-top: 40px;
  color: #48a265;
}
.help1{
  float: right;
  margin-top: -38px;
  font-size: 16px;
  color: #48a265;
}
.topIcons {
    padding-left: 75px;
    margin-top: 20px;
}
.tweet, .finsta {
    margin-left: 20px;
}
.face:hover {
    color: white;
}
.tweet:hover {
    color: white;
}
.finsta:hover {
    color: white;
}
.face, .tweet, .finsta {
    color: white;
}
.firstMail:focus {
    background: transparent;
    border-bottom: 1px solid white;
}
.firstPass:focus {
    background: transparent;
    border-bottom: 1px solid white;
}
.firstMail, .firstPass {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
}
/*--------------------
----------------------
REGISTER
----------------------
--------------------*/
.mainRow1 {
    background: #000000c9;
    color: white;
    width: 600px;
    height: 1000px;
    margin-left: 55px;
    position: relative;
    padding-top: 200px;
}
.regInfo {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    text-align: center;
}
.regBtn {
    margin-left: 280px;
    margin-top: 40px;
    width: 176px;
}

/*--------------------
----------------------
NAVBAR
----------------------
--------------------*/
.navChange:hover {
  color: black;
}
.navChange {
  color: black;
  font-size: 20px;
}
.navBack {
    background: black;
}

/*--------------------
----------------------
HOME
----------------------
--------------------*/
.homeHeader {
    background-image: url('/img/NewHeader.png');
    height: 400px;
    background-size: cover;
}
.jumbRow {
    top: 0px;
}
.youMightLike, .trending, .popular {
    padding-top: 20px;
    margin-left: 20px;
}
.owlBtn {
    height: 180px;
    width: 40px;
}
.owlPics {
    padding-top: 16px;
}
.firstOwl {
    margin-left: -30px;
    margin-right: 20px;
}
#filtersubmit {
    position: relative;
    z-index: 1;
    left: 25px;
    top: 7px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}
#filter {
    text-align: center;
    /* width: 540px;
    height: 60px;
    border-radius: 76px;
    border: 0px;
    font-size: 20px; */
}
.searchBar {
    padding-top: 150px;
}
.heart:hover {
    color: black;
}
.heart {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #00000096;
}
.likePic {
    position: relative;
}


/*--------------------
----------------------
PROFILE
----------------------
--------------------*/
.logout:hover {
    color: grey;
}
.logout {
    color: white;
    float: right;
    z-index: 50;
}
.proHeader {
    background-image: url('https://files.slack.com/files-pri/T8TBSJ9S9-FA1PNLGCT/saaaaalaaaad.jpeg');
    background-size: cover;
    height: 470px;

}
.mainPro {
 background: #00000096;
 color: white;
 width: 335px;
 height: 470px;
 margin-left: 85px;
 position: relative;
 text-align: center;
 padding-top: 60px;
}
#profilePic {
    border-radius: 50%;
    margin-left: 7px;
    margin-bottom: 12px;
}
.edit {
    width: 270px;
    height: 35px;
    font-size: 22px;
    padding-top: 0px;
}
.add {
    padding-left: 615px;
}
.plus {
    width: 220px;
    height: 40px;
    color: black;
}
.owlText {
    text-align: center;
}
#userName {
    margin-left: 65px;
    margin-top: 13px;
}
#passChange {
    width: 200px;
}
#confirmPass {
    margin-left: 65px;
}
.passStuff {
    margin-bottom: 40px;
    margin-top: 30px;
}
.allergyCheck {
    margin-right: 30px !important;
}
/*--------------------
----------------------
SETTINGS
----------------------
--------------------*/
#userName1 {
    margin-left: 65px;
    margin-top: 0px;
    padding-bottom: 14px;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
}
.setBack, .conBack, .aboutBack {
    background-image: url('https://files.slack.com/files-pri/T8TBSJ9S9-FA1PNLGCT/saaaaalaaaad.jpeg');
    background-size: cover;
    height: 850px;
}
.mainSet, .mainCon, .mainAbout {
    background: #00000096;
    color: white;
    width: 840px;
    height: 850px;
    margin-left: 155px;
    position: relative;
}
#proName {
    height: 40px;
    width: 200px;
    border-bottom: 1px solid white;
    text-align: center;
}
#passChange, #confirmPass, #userName {
    color: white;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    text-align: center;
}
#proMail {
    height: 40px;
    width: 402px;
    border-bottom: 1px solid white;
    text-align: center;
}
#age, #height, #weight {
    color: white;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    width: 105px;
    text-align: center;
}
#age, #height{
    margin-right: 20px;
}
.save {
    width: 340px;
    height: 45px;
    font-size: 22px;
    padding-top: 0px;
    margin-top: 50px;
    margin-left: 55px;
}
#profilePic1 {
    border-radius: 50%;
    margin-left: 155px;
    margin-bottom: 12px;
}
/*--------------------
----------------------
CONTACT
----------------------
--------------------*/
#context {
    text-align: center;
}
.topRow {
    margin-bottom: 60px;
}
.mainCon {
    padding-top: 150px;
}
#conName, #conEmail {
    background: transparent;
    color: white;
    border: 0px;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}
#conMessage {
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-bottom: 40px;
}
#conSubmit {
    margin-left: 90px;
    width: 250px;
    height: 35px;
}
/*--------------------
----------------------
ABOUT
----------------------
--------------------*/
.mainAbout{
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}
.ourText {
    margin-left: 235px;
}
.meet {
    margin-left: 190px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.aboutInfo {
    padding-left: 70px;
    margin-top: 50px;
}
/*--------------------
----------------------
FOOTER
----------------------
--------------------*/
#foot {
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
}
.bottomTags:hover {
    color: white;
}
.bottomTags {
    color: white;
    font-size: 20px;
}
.bottomIcons:hover {
    color: white;
}
.bottomIcons {
    color: white;
}
.socialMedia {
    margin-left: 665px;
    padding-top: 20px;
}
.bottomNav {
    margin-left: 595px;
    margin-top: 5px;
}
.footHome, .footPro, .footAbout {
    border-right: 1px solid white;
    padding: 5px;
}
.footLog {
    margin-left: 698px;
    margin-top: 15px;
}
.book, .pictoGram {
    margin-right: 15px;
}
